# --- Secrets & Config ---
.env

# --- AI Models (Large Files) ---

*.pt
*.onnx
*.engine

# --- Video & Data ---

*.mp4
*.avi
*.mov
*.mkv
datasets/
runs/

# --- Python Junk ---
__pycache__/
*.pyc
venv/
.venv/
.ipynb_checkpoints/

# --- IDE Config ---
.vscode/
.idea/

# --- OS Specific ---
.DS_Store
Thumbs.db

processing/benchmark.py
processing/test.py
processing/app.py
processing/templates
processing/video.py
processing/calibrate_lane.py
processing/single_lane.py
processing/distance_test.py
processing/videos